@import '../styles/breakpoints.scss';
@import '../styles/fonts.scss';

.apartments {
  height: 100%;
  overflow-x: hidden;
}

.apartmentsIntro {
  &_container {
    position: relative;
  }

  &_text {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &_header {
    @include headerFont;

    color: white;
  }

  &_subtitle {
    @include descriptionFont;

    color: white;    
  }
}

.apartmentsRoom {
  &_container {
    @include lg {
      display: flex;
    }
    
    &_item {
      @include descriptionFont;

      flex: 1;   
      position: relative;   
      transition: opacity 0.3s cubic-bezier(.8,.11,.66,1.18);

      &_title {
        &__show {
          opacity: 1;
          animation: slideIn 0.5s cubic-bezier(.8,.11,.66,1.18);
        }

        &__hide {
          opacity: 0;
          animation: slideOut 0.5s cubic-bezier(.8,.11,.66,1.18);
        }
      }

      &_image {
        &__show {
          opacity: 1;
        }

        &__hide {
          opacity: 0;
        }
      }
    }
  }

  &_content {
    margin: $mobile-horizontal-padding;

    @include lg {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      width: 80%;
      margin: 0;
    }

    &_header {
      @include headerFont;
      font-size: 2em;

      @include lg {
        font-size: 2.5em;      
      }
      margin-bottom: 0.1rem;
    }

    &_features {      
      display: flex;
      flex-direction: column;
      @include sm {
        flex-direction: row;
      }

      &_item {
        display: flex;
        align-items: center;        
        margin: 0.5rem 0;
        margin-right: 2rem;

        @include sm {
          margin: 1.5rem 0;
        }

        &_text {
          margin: 0 0.5rem;
          font-size: 0.8em;
        }
      }
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);  
  }
  100% {
    transform: translateX(50px);
  }
}