@import '../styles/breakpoints.scss';
@import '../styles/fonts.scss';

.contact {
  height: 100%;
  overflow-x: hidden;
}

.contactIntro {
  &_container {
    position: relative;
  }

  &_text {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &_header {
    @include headerFont;
    color: white;
  }

  &_subtitle {
    @include descriptionFont;
    color: white;
  }
}

.contactForm {  
  &_container {
    background-color: #8BC34A;
    position: relative;
    height: 850px;

    @include lg {
      height: 600px;
    }
  }

  &_form {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: white;
    position: absolute;
    padding: 2rem;
    transform: translate(-50%, -80%);
    left: 50%;
    top: 50%;
    width: 90%;

    @include lg {
      width: 40%;
      left: 45%;
      top: 40%;
      transform: translate(-80%, -50%);
    }
  }

  &_field {
    padding: 0.5rem 0;
    color: #868686;
  }

  &_details {
    color: white;
    float: right;
    position: absolute;
    bottom: 0;
    margin: 0 30px;
    
    @include lg {
      position: inherit;
      padding: 100px 100px;
      margin: 0 100px;
      width: 35%;
    }

    &_label {
      opacity: 0.5;
    }

    &_text {
      font-weight: 300;
    }
  }
}