@import '../styles/breakpoints.scss';
@import '../styles/fonts.scss';


.introContainer {
  position: relative;
  
  &_main {
    left: 50%;
    top: 55%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &_title {
    color: white;
    font-family: $headerFontFamily;
    font-size: 2em;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    margin: 0;

    @include lg {
      font-size: 2em;
    }
  }

  &_locationName {
    font-family: $paragraphFontFamily;
    color: white;
    font-size: 30em;
    font-style: normal;
    font-weight: bold;

    @include lg {
      font-size: 38em;
    }
  }

  &_scroll {
    bottom: 20px;
    color: #fff;
    display: inline-block;
    font-family: $paragraphFontFamily;
    left: 50%;
    letter-spacing: .1em;
    position: absolute;
    transform: translate(-50%, -50%);
    text-decoration: none;
    transition: opacity .3s;
    z-index: 2;
    font-size: 1em;

    &:hover {
      opacity: .5;
    }

    &_arrow {
      position: absolute;
      top: -60px;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      transform: rorate(-45deg);
      animation: sdb05 1.5s infinite;
      box-sizing: border-box;
    }
  }
}

.introContainer_links {
  display: flex;
  flex-direction: column;
  
  @include lg {
    display: block;
    line-height: 8em;
  }
  
  &_item {
    font-family: $paragraphFontFamily;
    font-size: 1.3em;
    margin: 0 14px;
    text-decoration: underline;
    text-underline-position: under;
    color: #fff;    
    
  }
}

@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}