@import '../styles/breakpoints.scss';
@import '../styles/fonts.scss';

.photosContainer {
  padding: 100px 20px;
  transition: opacity 0.5s ease-in-out;

  @include lg {
    padding: 200px 80px;
  }  

  &__show {
    opacity: 1;
    animation: slideUp 1s ease-in-out;
  }

  &__hide {
    opacity: 0;
    animation: slideDown 1s ease-in-out;
  }

  &_info {  
    @include xl {
      padding: 0 300px;      
    } 
    text-align: center;    
  }

  &_header {
      font-family: $mainFontFamily;
      font-weight: bold;
  }
  
  &_description {
    font-size: 1.1em;
  }

  &_carousel {  
    $arrowColor: slategrey;    

    &_photos {
      max-height: 1000px;
      max-width: 1000px;
      overflow: hidden;    
      left: 50%;
      transform: translateX(-50%);
    }

    &_navigator {
      font-size: 2em;
      align-self: center;
      justify-self: center;
      cursor: pointer;
    }

    h3 {
      color: #fff;
    }
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-80px);
  }
}