@import '../styles/fonts.scss';

$footerFontColor: #444444;

.footerContainer {
  color: $footerFontColor;
  height: 100%;
  padding: 50px 80px;
  font-family: $paragraphFontFamily;
  font-size: 1.2em;

  &_aelanLogo {
    font-size: 3em;
  }

  &_contacts {
    &_header {
      font-family: $headerFontFamily;      
      font-size: 1.2em;
      font-weight: 500;
    }
  }  

  &_section {
    display: flex;
    
    &_item {
      flex: 0.2;

      &_link {
        color: inherit;
      }
    }

    &_socialmedia {
      display: flex;

      &_icon {
        font-size: 1.8em;   
        padding-right: 1rem;     
      }

      * {
        margin: 0;
      }
    }

    &__space {
      flex: 0.6;
    }
  }

  &_horizontalline {
    border-bottom: 0.1em solid $footerFontColor;
    margin: 40px 0;
  }
}