@import '../styles/breakpoints.scss';
@import '../styles/fonts.scss';

$fontColor: #444444;

.menuContainer {
  color: $fontColor;
  font-family: $paragraphFontFamily;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  left: 50%;
  top: 50%;    
  transform: translate(-50%, -50%);

  @include md {
    flex-direction: row;
  }

  &_connect {
    &_item {
      color: $fontColor;
      font-size: 2em;
      padding-right: 1rem;
    }
  }
}

.menuActions {
  list-style-type: none;
  font-size: 2.5em;
  font-weight: bold;

  &_li * {
    cursor: pointer;
    color: $fontColor;
  }
}

.menuContacts {
  > * {
    margin: 0 32px;
  }

  &_header {    
    margin-bottom: 24px;
    font-family: $headerFontFamily;
    font-size: 1.7em;
    font-weight: 500;
  }

  &_email {
    font-size: 1.8em;
    font-weight: 500;
  }

  &_SocialMedia {
    display: flex;
  }
}

.menuModal {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.25s ease-in-out;  

  &_open {
    opacity: 1;
    z-index: 2;
  }

  &_closed {
    opacity: 0;
    z-index: 0;
  }
}