@import '../styles/breakpoints.scss';
@import '../styles/fonts.scss';

.photosContainer {
  padding: 100px 20px;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  justify-content: center;

  @include lg {
    padding: 200px 80px;
  }  

  &__show {
    opacity: 1;
    animation: slideIn 1s ease-in-out;
  }

  &__hide {
    opacity: 0;
    animation: slideOut 1s ease-in-out;
  }

  &_info {  
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
  }

  &_header {
    font-family: $headerFontFamily;    
    font-size: 3.5em;
    font-weight: 500;
  }
  
  &_description {    
    font-size: 1.5em;
    font-family: $paragraphFontFamily;
    line-height: 140%;
  }

  &_carousel {  
    $arrowColor: slategrey;    
    flex: 2;

    &_photos {
      height: 100%;
      width: 100%;
    }

    &_navigator {
      font-size: 2em;
      align-self: center;
      justify-self: center;
      cursor: pointer;
    }

    h3 {
      color: #fff;
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);  
  }
  100% {
    transform: translateX(-50px);
  }
}