@import '../styles/breakpoints.scss';
@import '../styles/fonts.scss';

.reviewsContainer {
  padding: 100px $mobile-horizontal-padding;  
  transition: opacity 0.5s ease-in-out;
  
  @include lg {
    padding: 100px 80px;
    text-align: center;
  }

  &_title {
    @include headerFont;
    
    @include lg {
      text-align: center;
    }
  }  

  &__show {
    opacity: 1;
    animation: slideIn 1s ease-in-out;
  }

  &__hide {
    opacity: 0;
    animation: slideOut 1s ease-in-out;
  }
}

.reviewsComment {
  @include descriptionFont;

  font-style: italic;
  max-width: 100em;
  padding: 0 1rem;

  &_container {
    display: flex;
    height: 15rem;
    align-items: center;
    padding: 1rem 0;    
    flex-direction: column;
    justify-content: center;

    @include lg {
      flex-direction: row;
    }
  }

  &_description {
    padding: 1rem 0;
  }

  &_user {
    font-family: $paragraphFontFamily;
    font-style: normal;
    font-weight: 500;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);  
  }
  100% {
    transform: translateX(-50px);
  }
}