@import url('https://fonts.googleapis.com/css?family=Cormorant:400,500|Montserrat:400,500&display=swap');

$mainFontFamily: 'Merriweather', serif;
$headerFontFamily: 'Cormorant', serif;
$paragraphFontFamily: 'Montserrat', sans-serif;
